Binaries
DerivedDataCache
Intermediate
Saved
Build
Assets

Content/FabricMaterials_2/
Assets/CharacterCreatorExports/*.Fbx

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspaceAssets/
